<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{customer/layout/head_customer}"></head>
<style>
.out-of-stock{
	background-color:#cccccc;
}
.align-middle .out-of-stock:hover{
	background-color:#cccccc;
}



</style>
<body>

  	<div th:replace="~{customer/layout/header_customer}"></div>

   	<!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                        	<th></th>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" th:if="${#lists.isEmpty(carts)}">
					    <tr>
					        <td colspan="6" class="text-center">
					            You haven't added anything to the cart yet.
					        </td>
					    </tr>
					</tbody>
					
					<tbody class="align-middle" th:unless="${#lists.isEmpty(carts)}">
						<tr th:each="item : ${carts}" 
						th:class="${item.Pro_Status == 'OutOfStock' ? 'out-of-stock cart-item' : 'cart-item'}"
						th:onclick="'godetailpro(' + ${item.Product_id} + ')'" > <!-- Thêm class 'out-of-stock' -->
						    <td class="align-middle">
						        <img th:src="'/uploads/' + ${item.Img}" alt="" style="width: 50px;">
						    </td>
						    <td class="align-middle" th:text="${item.product_name}"></td>
						    <td class="align-middle" th:text="'$' + ${item.Price}"></td>
						    <td class="align-middle">
						        <div class="input-group" style="width: 100px;">
						            <div class="input-group-btn">
						                <div th:if="${item.Pro_Status != 'OutOfStock'}"
									         th:onclick="'minusFromCart(' + ${item.Id} + ')'" 
									         class="btn-sm btn-primary"
									         style="height:30px;">
									        <i class="fa fa-minus"></i>
									    </div>
									    <div th:if="${item.Pro_Status == 'OutOfStock'}" class="btn-sm btn-secondary" style="pointer-events: none; height:30px;">
									        <i class="fa fa-minus"></i>
									    </div>
						            </div>
						            <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center"
						                   th:value="${item.Quantity}"
						                   th:attr="data-cart-id=${item.Id}, data-price=${item.Price}" 
						                  	style="height:30px;"
						                  	readonly /> 
						                 <div class="input-group-btn">
								            <div style="height:30px;" th:if="${item.Pro_Status != 'OutOfStock'}"
										         th:onclick="'updateQuantity(' + ${item.Id} + ')'" 
										         class="btn-sm btn-primary">
										        <i class="fa fa-plus"></i>
										    </div>
										    <div th:if="${item.Pro_Status == 'OutOfStock'}" class="btn-sm btn-secondary" style="pointer-events: none;height:30px;">
										         <i class="fa fa-plus"></i>
										    </div>
								     	</div>
						        </div>
						    </td>
						    <td class="align-middle" th:attr="data-total-id=${item.Id}"
						        th:text="'$' + (${item.Price} * ${item.Quantity})"></td>
						    <td class="align-middle">
						        <div th:onclick="'deleteFromCart(' + ${item.Id} + ')'" class="btn btn-sm btn-danger">
						            <i class="fa fa-times"></i>
						        </div>
						    </td>
						</tr>

					</tbody>

                    
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5 th:text="'$' + ${totalCartValue}"></h5>
                        </div>
                       <a id="checkoutButton" href="/checkout/showcheckout" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>	
            </div>
        </div>
    </div>
    <!-- Cart End -->

    <!-- Footer Start -->
   <div th:replace="~{customer/layout/footer_customer}"></div>
    <!-- Footer End -->

   
</body>
<script>
function updateQuantity(cartId) {
    console.log("Updating quantity for cart ID:", cartId); // Kiểm tra giá trị cartId

    $.ajax({
        url: '/cart/pluscart',
        type: 'POST',
        data: {
            id: cartId
        },
        success: function(response) {
            var jsonResponse = JSON.parse(response);
            console.log(jsonResponse);
            if (jsonResponse.status === "success") {
                var quantityInput = $('input[data-cart-id="' + cartId + '"]');
                console.log("Quantity input found:", quantityInput); // Kiểm tra phần tử input
                var currentQuantity = parseInt(quantityInput.val());
                quantityInput.val(currentQuantity + 1);

                var price = parseFloat(quantityInput.data('price'));
                var newTotal = price * (currentQuantity + 1);
                var totalCell = $('td[data-total-id="' + cartId + '"]');
                
                totalCell.text('$' + newTotal.toFixed(0));
            } else {
                alert("Cập nhật số lượng sản phẩm thất bại.");
            }
        },
        error: function(xhr, status, error) {
            console.error("Error: " + error);
            alert("Đã xảy ra lỗi khi cập nhật số lượng.");
        }
    });
}
function minusFromCart(cartId) {
    $.ajax({
        url: '/cart/minuscart', // Đường dẫn đến endpoint
        type: 'POST', // Phương thức HTTP
        data: { id: cartId }, // Dữ liệu gửi đi (ID sản phẩm trong giỏ hàng)
        success: function(response) {
            // Phân tích chuỗi JSON từ phản hồi
            const result = JSON.parse(response);
            if (result.status === "success") {
              
               
                updateCartDisplay(cartId);
            } else {
                alert("Có lỗi xảy ra khi giảm số lượng sản phẩm.");
            }
        },
        error: function(xhr, status, error) {
            alert("Đã xảy ra lỗi: " + error);
        }
    });
}

// Hàm cập nhật giao diện giỏ hàng
function updateCartDisplay(cartId) {
    // Tìm ô quantity tương ứng với cartId
    const quantityInput = $(`input[data-cart-id='${cartId}']`);
    const price = parseFloat(quantityInput.data('price')); // Lấy giá sản phẩm từ data attribute
    let currentQuantity = parseInt(quantityInput.val()); // Lấy số lượng hiện tại

    // Giảm số lượng nếu lớn hơn 0
    if (currentQuantity > 0) {
        currentQuantity--; // Giảm số lượng đi 1
        quantityInput.val(currentQuantity); // Cập nhật ô quantity

       
        var pricee = parseFloat(quantityInput.data('price'));
        var newTotal = pricee * (currentQuantity );
        var totalCell = $('td[data-total-id="' + cartId + '"]');
        
        totalCell.text('$' + newTotal.toFixed(0));
    }
}
function deleteFromCart(cartId) {
    $.ajax({
        url: '/cart/deletecartbyid', // Đường dẫn đến endpoint
        type: 'POST', // Phương thức HTTP
        data: { id: cartId }, // Dữ liệu gửi đi (ID sản phẩm trong giỏ hàng)
        success: function(response) {
            // Phân tích chuỗi JSON từ phản hồi
            const result = JSON.parse(response);
            if (result.status === "success") {
            	checkCart()
               	window.location.href = "/cart/showcart"
               	
            } else {
                alert("Có lỗi xảy ra khi giảm số lượng sản phẩm.");
            }
        },
        error: function(xhr, status, error) {
            alert("Đã xảy ra lỗi: " + error);
        }
    });
}
function checkCart() {
    const cartItems = document.querySelectorAll('.cart-item'); // Lấy tất cả các hàng trong giỏ hàng
    const checkoutButton = document.getElementById('checkoutButton');
    const itemsoutofstock = document.querySelectorAll('.out-of-stock');
    if (cartItems.length === 0 && itemsoutofstock.length != 0) {
        // Nếu giỏ hàng trống
        checkoutButton.classList.remove('btn-primary'); // Xóa lớp btn-primary
        checkoutButton.classList.add('btn-secondary'); // Thêm lớp btn-secondary để đổi màu
        checkoutButton.style.pointerEvents = 'none'; // Vô hiệu hóa nút
    } else {
        // Nếu có sản phẩm trong giỏ hàng
        checkoutButton.classList.remove('btn-secondary'); // Xóa lớp btn-secondary
        checkoutButton.classList.add('btn-primary'); // Thêm lớp btn-primary để trở lại màu
        checkoutButton.style.pointerEvents = 'auto'; // Bật lại nút
    }
}
window.onload = checkCart;
function godetailpro(id) {
    const encodedId = encodeURIComponent(id);
    window.location.href = '/detailproduct/product?id=' + encodedId;
}

</script>
</html>