<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Order Request</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/addWarehouseReleasenote.css}">
    <link rel="stylesheet" th:href=@{/css/showOrderInWarehouseDetail.css}>
    
</head>
<body>

<div th:replace="warehouseManager/layout/header_admin"></div>
<div class="content-wrapper" style="min-height: 1302.4px;">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Order Request Information</h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-container">

                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Order Id</th>
                                            <td th:text="${order.orderID}"></td>
                                        </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td th:text="${order.status}"></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>


                                <table class="table table-bordered table-sm mt-3">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th>Unit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="detail : ${details}">
                                            <td>
                                                <span th:text="${detail.product_name}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${detail.quantity}"></span>
                                            </td>
                                          
                                            <td>
                                                <span th:text="${detail.status}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${detail.unit_name}"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content">
    <div class="container-fluid">
        <div class="row">
            <form th:action="@{/warehouseManager/addRelesenoteByOrder}" method="post" enctype="multipart/form-data" class="w-100">
                <div class="row">
                    <div class="col-md-6"> 
                        <div class="card card-primary" style="margin-top: 30px;">
                            <div class="card-header">
                                <h3 class="card-title">Add Warehouse Release note</h3>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr><th colspan="2">Warehouse Release note</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label for="name">Order ID:</label></td>
                                            <td><input type="text" id="name" name="orderID" th:value="${order.orderID}" class="form-control" placeholder="Enter Name" readonly></td>
                                        </tr>
                                        <tr>
                                            <td><label for="statusWr">Status:</label></td>
                                            <td><input type="text" name="statusWr" value="Processing" class="form-control" readonly></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                                <input type="hidden" id="employeeId" name="employeeId" th:value="${employeeId}">
								<input type="hidden" id="id" name="id" th:value="${id}">                                
                            </div>
		                    <div class="card-footer">
		                        <button type="submit" class="btn btn-primary">Submit</button>
		                    </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-secondary" style="margin-top: 30px;"> 
                            <div class="card-header" style="background-color: #6C75EC;">
                                <h3 class="card-title" >Warehouse Release note Details</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-sm mt-3">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Quantity Request</th>
                                            <th>Quantity Exported</th>
                                        </tr>
                                    </thead>
									<tbody>
									    <tr th:each="detail : ${details}">
									        <td>
									            <span th:text="${detail.product_name}"></span>
									            <input type="hidden" name="id_product[]" th:value="${detail.product_Id}" />
									        </td>
									        
									        <td>
									            <span th:text="${detail.quantity}"></span>
									            <input type="hidden" id="quantity_Rq" name="quantity_Rq[]" th:value="${detail.quantity}">
									        </td>
									      
									        <td>
									            <input type="number" id="quantity_Ex" name="quantity_Ex[]" value="0" class="form-control">
									        </td>
									        <td><input type="hidden" id="status" name="status[]" value="Processing"></td>
									    </tr>
									</tbody>
                                </table>															
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


</div>

<div th:replace="warehouseManager/layout/footer_admin"></div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script th:src="@{/js/addReleasenoteByOrder.js}"></script>
 -->
 
</body>
</html>
