
<body xmlns:th="http://www.thymeleaf.org" lang="en" >
<div th:replace="admin/layout/header_admin"></div>
<div class="content-wrapper" style="min-height: 1302.4px;">
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Details Product</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
        <section class="content-header">
      <div class="container-fluid">
	<div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Details Product</h3>
              </div>
              <form th:object="${product}" >
			    <div class="card-body row">
			    
			    	<div class="form-group col-md-2">
						<label for="exampleInputPassword1">Image</label>
						<img th:if="${product.img != null}"
                     th:src="@{/uploads/{imageName}(imageName=${product.img})}"
                     style="width:55%;">
                     </div>
			    	<div class="form-group col-md-4">	
			        </div>
			        
			        <div class="form-group col-md-6">
					    <label for="phone">Description</label>
					    <textarea id="description" disabled readonly th:field="*{description}" class="form-control"></textarea>
					</div>
					<div class="form-group col-md-6">
					    <label for="title">Price</label>
					    <input type="text" id="price" disabled readonly th:value="${formattedPrice}" class="form-control">
					</div>
			        <div class="form-group col-md-6">
			          	<label for="title">Product Name</label>
			            <input type="text" id="proName" disabled readonly th:value="${product.product_name}" class="form-control">
			        </div>
			        
					<div class="form-group col-md-6">
					    <label for="phone">Warranty period</label>
							<input type="text" disabled readonly  th:value="${product.warranty_period} + ' ' + months" class="form-control">
					</div>
					
					<div class="form-group col-6">
					    <label for="conversion">Unit</label>
					    <input class="form-control" disabled readonly th:value="${product.unit_name}">
					</div>

					<div class="form-group col-6 ">
					    <label for="exampleInputEmail1">Brand</label>
					    <input class="form-control" disabled readonly th:value="${product.brandName}">
					</div>
					
					<div class="form-group col-6 ">
					    <label for="exampleInputEmail1">Category</label>
					    <input class="form-control" disabled readonly th:value="${product.categoryName}">
					</div>
					
					<div class="form-group col-6 ">
					    <label for="exampleInputEmail1">Status</label>
					    <input class="form-control" disabled readonly th:value="${product.status}">
					</div>
					
			    </div>
			    <div class="card-footer">
			    	<a th:href="@{/admin/product/showProduct}" class="btn btn-danger">Back to List</a>
			        <a th:href="@{/admin/product/showUpdateProduct(id=${product.id})}" class="btn btn-success">Update</a>
 					<a th:href="@{deleteProduct(id=${product.id}, fileName=${product.img})}" class="btn btn-danger" onclick="return confirmDelete();">Delete</a>
					<a href="javascript:void(0)" class="btn btn-success Conversion" 
					   th:data-product-id="${product.id}" 
					   th:data-unit-name="${product.unit_name}"				   
					   th:data-unit-id="${product.unit_id}">
					   Add Conversion
					</a>
 					
			    </div>
				</form>
            </div>
          </div>
        </div>
        </div>
        </section>
        
        <section class="content-header">
      <div class="container-fluid">
	<div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Conversion</h3>
              </div>
              <form>
              
              <table class="table table-hover text-nowrap">
              	<thead>
              			<tr class="text-center">
				            <th>Product Name</th>
				            <th>From unit</th>
				            <th>To unit</th>
				            <th>conversion rate</th>
				            
				        </tr>
				</thead>
				<tbody>
							<tr th:each="item : ${conversions}" class="text-center">
							            <td>
                                            <span th:text="${item.productName}"></span>
                                        </td>		
                                        <td>
                                            <span th:text="${item.fromUnitName}"></span>
                                        </td>		
                                        <td>
                                            <span th:text="${item.toUnitName}"></span>
                                        </td>				            		            
                                        <td>
                                            <span th:text="${item.conversion_rate}"></span>
                                        </td>	
                                           <td>
								            <button class="btn btn-danger btn-sm" 
								                    onclick="deleteConversion('${item.id}')">
								                X
								            </button>
								        </td> 					    
							</tr>
				 </tbody>
              </table>

				</form>
            </div>
          </div>
        </div>
        </div>
        </section>
        </div>
        <div th:replace="admin/layout/footer_admin"></div>
          <script src="https://code.jquery.com/jquery-3.7.1.js" ></script>
            <script th:src="@{/js/showProduct.js}"></script>
</body>

