
<body xmlns:th="http://www.thymeleaf.org" lang="en" >
<div th:replace="admin/layout/header_admin"></div>
<div class="content-wrapper" style="min-height: 1302.4px;">
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
        <section class="content-header">
      <div class="container-fluid">
	<div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Product</h3>
              </div>
              <form th:object="${new_item}" action="addProduct" method="post" enctype="multipart/form-data">
			    <div class="card-body row">
			    
			        <div class="form-group col-6">
			            <label for="title">Product Name</label>
			            <input type="text" id="proName" name="proName" class="form-control" placeholder="Enter Product Name" required>
			        </div>
			        
					<div class="form-group col-6">
					    <label for="price">Price (USD)</label>
					    <input type="text" id="price" name="price" class="form-control" placeholder="Enter Price in USD" required 
					           onfocus="removeDollarSign(this)" 
					           onblur="addDollarSign(this)" step="0.01" min="0">
					</div>	
					
			        <div class="form-group col-6">
					    <label for="phone">Description</label>
					    <textarea name="description" id="description" class="form-control" placeholder="Enter description" required></textarea>
					</div>
					
					<div class="form-group col-6">
					    <label for="images">Image</label>
					    <input type="file" class="form-control" id="images" name="images" accept="images/*" required onchange="showImage(event)">
					    <img id="preview" src="#" alt="Image preview" style="display: none; margin-top: 10px; max-width: 100%;heght:200px">
					</div>
					
			        <div class="form-group col-6">
			            <label for="exampleInputEmail1">Conversion Id</label>
			            <select name="conversionId" id="conversionId" class="form-control" required>
			                <option th:each="item : ${conversions}" th:value="${item.id}" th:text="${item.fromUnitName} + ' to ' + ${item.toUnitName}"></option>
			            </select>
			        </div>
			        
					<div class="form-group col-6">
					    <label for="brandId">Brand</label>
					    <input type="text" id="searchBrand" class="form-control" placeholder="Search Brand">
					    <select name="brandId" id="brandId" class="form-control" required>
					        <option th:each="item : ${brands}" th:value="${item.id}" th:text="${item.name}"></option>
					    </select>
					</div>

			        
			        <div class="form-group col-6">
			            <label for="exampleInputEmail1">Category</label>
			            <select name="cateId" id="cateId" class="form-control" required>
			                <option th:each="item : ${categorys}" th:value="${item.id}" th:text="${item.name}"></option>
			            </select>
			        </div>
			        
			        <div class="form-group col-6">
			            <label for="exampleInputEmail1">Status</label>
			            <select name="status" id="status" class="form-control" required>
			                <option th:value="Active" th:text="Active"></option>
			                <option th:value="InActive" th:text="InActive"></option>
			               	<option th:value="OutOfstock" th:text="OutOfstock"></option>
			                <option th:value="NewRelease" th:text="NewRelease"></option>
			            </select>
			        </div>
			        
			        <div class="form-group col-6">
			            <label for="exampleInputEmail1">Warranty period</label>
			            <select name="wpe" id="wpe" class="form-control" required>
			            	<option th:value="NoSecurity" th:text="NoSecurityAction"></option>
			                <option th:value="6" th:text="6 + ' ' + months"></option>
			                <option th:value="12" th:text="12 + ' ' + months"></option>
			                <option th:value="18" th:text="18 + ' ' + months"></option>
			                <option th:value="24" th:text="24 + ' ' + months"></option>
			            </select>
			        </div>
			        
			    </div>
			    <div class="card-footer">
			    	<a th:href="@{/admin/product/showProduct}" class="btn btn-danger">Back to List</a>
			        <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
				</form>
            </div>
          </div>
        </div>
        </div>
        </section>
        </div>
        <div th:replace="admin/layout/footer_admin"></div>
          <script src="https://code.jquery.com/jquery-3.7.1.js" ></script>
          <script th:src="@{/js/addProduct.js}"></script>
          
</body>

