  <link rel="stylesheet" th:href="@{/css/pagination.css}">
<body xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="layout/header_admin"></div>
<div class="content-wrapper" style="min-height: 1302.4px;">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header"> 
                <h3 class="card-title">Product Table</h3>
                <div class="input-group input-group-sm" style="width: 80%;margin-left:15%;">
		           <input type="text" name="table_search" id="searchInput" onkeyup="searchTable()" class="form-control float-right" placeholder="Search">
		
		           <div class="input-group-append">
		             <button type="submit" class="btn btn-default">
		               <i class="fas fa-search"></i>
		             </button>
		           </div>
		         </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
				    <thead>
				        <tr class="text-center">
				            <th>
				                <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)">
				            </th>
				            <th>Name</th>
				            <th>Images</th>
				            <th>Price</th>
				            <th>Category</th>
				            <th>Brand</th>
				            <th>Conversion</th>
				            <th>Status </th>
				            <th>
				             	<button class="btn btn-danger" onclick="deleteSelectedProducts()">Delete Selected</button>
				                <a th:href="@{/admin/product/showAddProduct}" class="btn btn-primary">Add Product</a>
				            </th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr th:if="${#lists.isEmpty(products)}" class="text-center">
				            <td colspan="8">No positions found</td>
				        </tr>
				        <tr th:each="item: ${products}" class="text-center">
				            <td>
				                <input type="checkbox" class="productCheckbox" th:value="${item.id}">
				            </td>
				            <td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
				                <span th:text="${item.product_name}"></span>
				            </td>
				            <td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
				                <img th:if="${item.img != null}" th:src="@{/uploads/{imageName}(imageName=${item.img})}" width="60">
				            </td>
							<td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
							    <span th:text="${item.formattedPrice}"></span>
							</td>
				            <td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
				                <span th:text="${item.categoryName}"></span>
				            </td>
				            <td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
				                <span th:text="${item.brandName}"></span>
				            </td>
				            <td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
				                <span th:text="${item.conversion_id}"></span>
				            </td>
				            <td style="cursor: pointer;" th:onclick="'goToDetail(' + ${item.id} + ')'">
				                <span th:text="${item.status}"></span>
				            </td>
				            
				            <td>
				                <a th:href="@{/admin/product/showUpdateProduct(id=${item.id})}" class="btn btn-warning">Update</a>
				                <a th:href="@{deleteProduct(id=${item.id}, fileName=${item.img})}" class="btn btn-danger" onclick="return confirmDelete();">Delete</a>
				            </td>
				        </tr>
				    </tbody>
				</table>
      			<table style="margin-left:42%">
				   <tfoot id="paginationFooter">
				        <tr class="pagination">
				            <td>
				                <a th:href="@{/admin/product/showProduct(cp=1)}" title="First page">&laquo;</a>
				            </td>
				            <td th:if="${pv.Page_current > 1}">
				                <a th:href="@{/admin/product/showProduct(cp=${pv.Page_current - 1})}" title="Previous page">&lt;</a>
				            </td>
				            <td th:each="i : ${#numbers.sequence(0, pv.Total_page - 1)}"
				                th:if="${i < 3 or (i >= (pv.Page_current - 2) and i <= (pv.Page_current + 2))}">
				                <a th:href="@{/admin/product/showProduct(cp=${i + 1})}"
				                   th:class="${i + 1 == pv.Page_current ? 'active' : ''}">
				                    <span th:text="${i + 1}"></span>
				                </a>
				            </td>
				            <td th:if="${pv.Page_current < pv.Total_page}">
				                <a th:href="@{/admin/product/showProduct(cp=${pv.Page_current + 1})}" title="Next page">&gt;</a>
				            </td>
				            <td>
				                <a th:href="@{/admin/product/showProduct(cp=${pv.Total_page})}" title="Last page">&raquo;</a>
				            </td>
				        </tr>
				    </tfoot>
				</table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" ></script>
  <script th:src="@{/js/showProduct.js}"></script>
  
<div th:replace="layout/footer_admin"></div>
</body>

