@charset "UTF-8";
.tab-content {
  display: flex;
  flex-direction: row;  /* Hiển thị các tab nội dung theo hàng ngang */
}

.tab-pane {
  width: 100%;  /* Đảm bảo mỗi tab chiếm một diện tích */
  display: none;  /* Ẩn các tab không active */
}

.tab-pane.active {
  display: block;  /* Hiển thị tab đang active */
}


