<body xmlns:th="http://www.thymeleaf.org" lang="en">
    <div th:replace="warehouseManager/layout/header_admin"></div>
    <div class="content-wrapper" style="min-height: 1302.4px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Warehouse Receipt and Warehouse Receipt Details</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Warehouse Receipt and Warehouse Receipt Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills" id="tabNavigation">
                            <li class="nav-item">
                                <a class="nav-link active" href="#Warehousereceiptdetails" data-toggle="tab" id="tabWarehouseReceiptDetails">
                                    Add Warehouse receipt details
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                        <form action="addWhReceipt" method="post">
                            <div class="tab-pane active" id="Warehousereceiptdetails">
                                <!-- Add Warehouse receipt details-->
                                    <h3>Warehouse Receipt</h3>
                                    <div class="card-body row">
                                    <input type="hidden" id="employeeId" name="employeeId" th:value="${employeeId}" >
                                    <input type="hidden" id="wh_id" name="wh_id" th:value="${whId}">	
                                        <div class="form-group col-md-6">
                                            <label for="name">Name</label>
                                            <input type="text" id="name" name="name" class="form-control" disabled>
                                        </div>
											
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputEmail1">Status</label>
                                            <select name="status" id="status" class="form-control" required>
                                                <option value="Not completed yet">Not completed yet</option>
                                                <option value="Entered">Entered</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label for="name">Shipping fee</label>
                                            <input type="text" id="shippingFee" name="shippingFee" class="form-control" placeholder="Enter shipping fee" required>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label for="name">Order fee</label>
                                            <input type="text" id="otherFee" name="otherFee" class="form-control" placeholder="Enter order fee" required>
                                        </div>
                                        
                                        <div class="form-group col-md-4">
                                            <label for="name">total fee</label>
                                            <input type="text" id="totalFee" name="totalFee" class="form-control" placeholder="Enter total fee" required>
                                        </div>

                                    </div>
                             </div>
                             <div style="border-top: 2px solid #ccc; margin: 20px 0;"></div>
                            <div class="tab-pane" id="Warehousedetailsreceipt">
							    <div id="detailsContainer" data-receipt-counter="0">
							        <div class="detail-group">
							             <h3 class="receipt-title"></h3>
							            <div class="card-body row detail-group">
							                <div class="form-group col-md-2">
							                    <label for="quantity">Quantity</label>
							                    <input type="number" name="quantity" class="form-control" placeholder="Enter Quantity" required>
							                </div>
							                <div class="form-group col-md-2">
							                    <label for="wh_price">Warehouse Price</label>
							                    <input type="number" name="wh_price" class="form-control" placeholder="Enter Warehouse Price" step="0.01" required>
							                </div>
							                <div class="form-group col-md-2">
							                    <label for="status">Status Details</label>
							                    <select name="statusDetails" class="form-control" required>
							                        <option value="" disabled selected>Status Details</option>
							                        <option th:value="Active" th:text="Active"></option>
							                    </select>
							                </div>
											 <div class="form-group col-md-2">
									            <label for="conversionId">Conversion ID</label>
									            <input type="text" id="conversionId" name="conversionId" class="form-control conversionId" required readonly>
									        </div>
									
											<div class="form-group col-md-2">
									            <label for="product_id">Product</label>
									            <select class="product_id form-control" id="product_id" name="product_id" required onchange="fetchConversionId(this)">
									                <option value="" disabled selected>Select Product</option>
									                <option th:each="item : ${products}" th:value="${item.id}" th:text="${item.product_name}"></option>
									            </select>
									        </div>
								 			<div class="form-group col-md-2">
									            <label for="searchProduct">Search Product</label>
									            <input type="text" placeholder="Search Product" class="form-control" onkeyup="filterProducts(this)">
									        </div>
							            </div>
							        </div>
							    </div>
							    
							    <div class="card-footer">
							        <a th:href="@{/warehouseManager/warehouseReceipt/showWhReceipt}" class="btn btn-danger">Back to List</a>
							        <button type="submit" class="btn btn-primary">Submit</button>
							        <button type="button" class="btn btn-primary" onclick="addDetailGroup()">Add More Details</button>
							    </div>
							</div>
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
    <div th:replace="warehouseManager/layout/footer_admin"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/js/addWhReceipt.js}"></script>
</body>