
<body xmlns:th="http://www.thymeleaf.org" lang="en" >
<div th:replace="layout/header_admin"></div>
<div class="content-wrapper" style="min-height: 1302.4px;">
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Warehouse Receipt and Warehouse receipt details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Warehouse Receipt and Warehouse receipt details</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
        <section class="content-header">
      <div class="container-fluid">
	<div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add WarehouseAndDetail</h3>
              </div>
              <form action="addWhReDetail" method="post" >
			    <div class="card-body">
			    	<h3>Warehouse receipt</h3>
			        <div class="form-group">
			            <label for="title"> Name</label>
			            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" required>
			        </div>
			        <div class="form-group">
			            <label for="exampleInputEmail1">Warehouse</label>
			            <select id="wh_id" name="wh_id" class="form-control" required>
 							<option th:each="item : ${warehouses}" th:value="${item.id}" th:text="${item.name}"></option>
			            </select>
			        </div>
					<div class="form-group">
					    <label for="title">Date</label>
					    <input type="datetime-local" id="date" name="date" class="form-control" placeholder="Enter Date" required>
					</div>
						<h3>Warehouse receipt details</h3>
						<div class="form-group">
					    <label for="title">Warehouse</label>
					    <input type="text" id="wh_receiptId" name="wh_receiptId" class="form-control" placeholder="Enter Warehouse" required>
					</div>
					<div class="form-group">
					    <label for="title">Price</label>
					    <input type="text" id="wh_price" name="wh_price" step="0.01" class="form-control" placeholder="Enter Price" required>
					</div>
					<div class="form-group">
					    <label for="title">Quantity</label>
					    <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Enter Quantity" required>
					</div>
			    </div>
			    <div class="card-footer">
			    	<a th:href="@{/warehouseManager/warehouseReceipt/showWhReceipt}" class="btn btn-danger">Back to List</a>
			        <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
				</form>
            </div>
          </div>
        </div>
        </div>
        </section>
        </div>
        <div th:replace="layout/footer_admin"></div>
          <script src="https://code.jquery.com/jquery-3.7.1.js" ></script>
          <script th:src="@{/js/addProduct.js}"></script>
          
</body>

