  <link rel="stylesheet" th:href="@{/css/pagination.css}">
<body xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="admin/layout/header_admin"></div>
<div class="content-wrapper" style="min-height: 1302.4px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Employee</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Employee Table</h3>
                   <div class="input-group input-group-sm" style="width: 80%;margin-left:15%;">
		           <input type="text" name="table_search" id="searchInput" class="form-control float-right" placeholder="Search">
		           <div class="input-group-append">
		             <button type="submit" class="btn btn-default">
		               <i class="fas fa-search"></i>
		             </button>
		           </div>
		         </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr class="text-center">
                    	<th>STT</th>
						<th>FullName</th>
						<th>Phone</th>
						<th>
							<a th:href="@{/admin/employee/showRegister}" class="btn btn-primary">Register Employee</a>
						</th>
                    </tr>
                  </thead>
                  <tbody>
				    <tr th:if="${#lists.isEmpty(employees)}" class="text-center">
				        <td colspan="5">No employees found</td>
				    </tr>
				    <tr th:each="item ,iterStat: ${employees}" class="text-center">
				    	<td th:text="${iterStat.index + 1}" style="cursor: pointer;" th:onclick="'goToDetailEmploy(' + ${item.id} + ')'"></td>
				        <td style="cursor: pointer;" th:onclick="'goToDetailEmploy(' + ${item.id} + ')'">
				        	<span th:text="${item.first_name} + ' ' + ${item.last_name}"></span>
				        </td>
				        <td style="cursor: pointer;" th:onclick="'goToDetailEmploy(' + ${item.id} + ')'">
				        	<span th:text="${item.phone}"></span>
				        </td>
				        <td>
				            <a th:href="@{showUpdateEmployee(id=${item.id})}" class="btn btn-warning">Update</a>
				            <a th:href="@{deleteEmployee(id=${item.id})}" onclick="return confirmDeleteEmp();" class="btn btn-danger">Delete</a>
				        </td>
				    </tr>
				</tbody>
                </table>
                <table style="margin-left:42%">
				   <tfoot id="paginationFooter">
				        <tr class="pagination">
				            <td>
				                <a th:href="@{/admin/employee/showEmp(cp=1)}" title="First page">&laquo;</a>
				            </td>
				            <td th:if="${pv.Page_current > 1}">
				                <a th:href="@{/admin/employee/showEmp(cp=${pv.Page_current - 1})}" title="Previous page">&lt;</a>
				            </td>
				            <td th:each="i : ${#numbers.sequence(0, pv.Total_page - 1)}"
				                th:if="${i < 3 or (i >= (pv.Page_current - 2) and i <= (pv.Page_current + 2))}">
				                <a th:href="@{/admin/employee/showEmp(cp=${i + 1})}"
				                   th:class="${i + 1 == pv.Page_current ? 'active' : ''}">
				                    <span th:text="${i + 1}"></span>
				                </a>
				            </td>
				            <td th:if="${pv.Page_current < pv.Total_page}">
				                <a th:href="@{/admin/employee/showEmp(cp=${pv.Page_current + 1})}" title="Next page">&gt;</a>
				            </td>
				            <td>
				                <a th:href="@{/admin/employee/showEmp(cp=${pv.Total_page})}" title="Last page">&raquo;</a>
				            </td>
				        </tr>
				    </tfoot>
				</table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
  <script th:src="@{/js/showEmployee.js}"></script>
<div th:replace="admin/layout/footer_admin"></div>
</body>

